<div class="user-images">

<% @posts.each do |post| %>

	<% if post.media_type == "image" && post.method == nil  %>
		<div class="wrapper">
			<%=link_to post_path(post) do %>
	    	<img src= "https://res.cloudinary.com/dvaat1mxu/image/upload/v1557654876/<%= post[:public_id] %>.jpg">
	    <% end %>
	  </div>
	<% end %>

	<% if post.media_type == "image" && post.method != nil  %>
		<div class="wrapper">
			<%=link_to post_path(post) do %>
	    	<img src= "https://res.cloudinary.com/dvaat1mxu/image/upload/e_art:<%= post[:method] %>/v1557654876/<%= post[:public_id] %>.jpg">
	    <% end %>
	  </div>
	<% end %>

	<% if post.media_type == "video" %>
		<div class="wrapper">
			<%=link_to post_path(post) do %>
	    	<video src= "https://res.cloudinary.com/dvaat1mxu/video/upload/v1557370688/<%= post[:public_id] %>.mp4" type="video/mp4" controls width=280px height=280px>
	    <% end %>
	  </div>
	<% end %>
<% end %>
</div>