<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

    	<div class="avatar-follow">
      <% if @user.avatar != nil %>
        	<img src="https://res.cloudinary.com/dvaat1mxu/image/upload/v1557478671/<%= @user.avatar[:public_id] %>.jpg">
      	<% else %>
      		<%= image_tag 'default-avatar.png'%>
      	<% end %>
      </div>

      <div id="userpage-username"><h1><%= @user.name %></h1></div>
      <span><%= link_to "view my profile", @user, class: "link-deco" %></span>
      <br>
      <span><b>Posts:</b> <%= @user.posts.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="col-md-8">
    <div id="userpage-title"><h3><%= @title %></h3></div>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>