<%= cloudinary_js_config %>

<h1> New profile photo </h1>

<%= form_for Avatar.new do |f| %>

	<%= cl_upload_tag(:media_id) %>

	<br><br>

	<br>

	<span class="status"></span>
		<%= f.text_field :user_id, value: current_user.id, class:'d-none'%>
	<br>

		<%= link_to "Cancel", users_path, class: "btn btn-primary" %>

		<%= f.submit 'Upload photo', class: 'btn btn-success d-none', id:'submitButton' %>
<% end %>