<% if user_signed_in? %>

      <div class="posts-index">
        <% @posts.each do |post| %>
          <section class="post">
            <div class="user">

              <div class="avatar">
      	      	<% if post.user.avatar != nil %>
				        	<img src="https://res.cloudinary.com/dvaat1mxu/image/upload/v1557478671/<%= post.user.avatar[:public_id] %>.jpg">
				      	<% else %>
				      		<%= image_tag 'default-avatar.png'%>
				      	<% end %>
              </div>

              <div class="username">
                <%= post.user.username %>
              </div>
            </div>

            <% if post.media_type == "image" %>
            	<img class="main-image" src="https://res.cloudinary.com/dvaat1mxu/image/upload/v1557370688/<%= post[:public_id] %>.jpg" >
            <% end %>

            <% if post.media_type == "video" %>
            	<video src= "https://res.cloudinary.com/dvaat1mxu/video/upload/v1557370688/<%= post[:public_id] %>.mp4" type="video/mp4" controls width=100% ></video>
            <% end %><br>

            <div class="description">
              <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

              <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
                <% if pre_like %>
                  <%= form_with url: post_like_path(post, pre_like), method: :delete, remote: true do |form| %>
                    <button class="like-button" style="border: none; background: none" type="submit" value="submit">
                      <i class="fas fa-heart red-heart"></i>
                    </button>
                  <% end %>
                <% else %>
                  <%= form_with url: post_likes_path(post), remote: true do |form| %>
                    <button class="like-button" style="border: none; background: none" type="submit" value="submit">
                      <i class="far fa-heart"></i>
                    </button>
                <% end %>
              <% end %>

              <br>
              <p><b><%= post.user.username %></b>  <%= post.caption %></p>

              <% post.komments.each do |f| %>
	              <p class="quote"><b><%= f.user.username %> </b><%= f.komment %></p>
              <% end %>
              <%= form_for Komment.new do |f| %>
                <p>
                  <%= f.text_field :komment, placeholder: "Add a comment..." %>
                  <%= f.text_field :user_id, value: current_user.id, class:'d-none'%>
                  <%= f.text_field :post_id, value: post.id, class:'d-none'%>
                  <%= f.submit 'Add', class:'d-none' %>
                </p>
              <% end %>

            </div>
          </section>
        <% end %>
      </div>

<% end %>