<% if user_signed_in? %>
<a href="<%= new_post_path %>">New Post</a>

  <div class="posts">
    <% @posts.each do |post| %>
      <section class="post">
        <div class="user">

          <div class="avatar">
            <img src="https://i.imgur.com/RgToMSf.jpg">
          </div>

          <div class="username">
            <%= post.user.username %>
          </div>
        </div>

        <img class="main-image" src="https://res.cloudinary.com/dvaat1mxu/image/upload/v1557290829/<%= post[:public_id] %>.jpg" >

        <div class="description">
          <div id="likes-container">
            <p>
              <%= post.likes.count %> 
              <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>    
            </p>
            
            <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>

            <% if pre_like %>
              <%= form_with url: post_like_path(post, pre_like), method: :delete, remote: true do |form| %>
                <button class="like-button" style="border: none; background: none" type="submit" value="submit">
                  <i class="fas fa-heart"></i>
                </button>
              <% end %>
            <% else %>
              <%= form_with url: post_likes_path(post), remote: true do |form| %>
                <button class="like-button" style="border: none; background: none" type="submit" value="submit">
                  <i class="far fa-heart"></i>
                </button>
              <% end %>

            <% end %>

          </div>
        </div>

      </section>
    <% end %>
  </div>
<% end %>

<script type="text/javascript" src="/post-index.js"></script>