<% if user_signed_in? %>

      <div class="words posts-index">
        <% @posts.each do |post| %>
          <section class="post">
            <div class="user">

              <div class="avatar post-avatar">
      	      	<% if post.user.avatar != nil %>
				        	<img src="https://res.cloudinary.com/dvaat1mxu/image/upload/v1557478671/<%= post.user.avatar[:public_id] %>.jpg">
				      	<% else %>
				      		<%= image_tag 'default-avatar.png' %>
				      	<% end %>
              </div>

              <div class="username">
                <%= link_to post.user.username, user_path(post.user), class: "username" %>
              </div>
            </div>

            <% if post.media_type == "image" && post.method == nil %>
            	<img class="main-image" src="https://res.cloudinary.com/dvaat1mxu/image/upload/v1557654876/<%= post[:public_id] %>.jpg" >
            <% end %>

            <% if post.media_type == "image" && post.method != nil %>
            	<img class="main-image" src="https://res.cloudinary.com/dvaat1mxu/image/upload/e_art:<%= post[:method] %>/v1557654876/<%= post[:public_id] %>.jpg" >
            <% end %>

            <% if post.media_type == "video" %>
            	<video src= "https://res.cloudinary.com/dvaat1mxu/video/upload/v1557654876/<%= post[:public_id] %>.mp4" type="video/mp4" controls width=100% ></video>
            <% end %><br>

            <div class="description">
              <div class="icon-container d-flex">
                <div>
                <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
                  <% if pre_like %>
                    <%= form_with url: post_like_path(post, pre_like), class: "like-form", method: :delete, remote: true do |form| %>
                      <button class="like-button" style="border: none; background: none" type="submit" value="submit">
                        <i class="fas fa-heart red-heart"></i>
                      </button>
                    <% end %>
                  <% else %>
                    <%= form_with url: post_likes_path(post), class: "like-form", remote: true do |form| %>
                      <button class="like-button" style="border: none; background: none" type="submit" value="submit">
                        <i class="far fa-heart"></i>
                      </button>
                    <% end %>
                  <% end %>

              <a href=/posts/<%=post.id%>><i class="far fa-comment"></i></a>
              <i class="far fa-paper-plane"></i>
              </div>
              <i class="far fa-bookmark"></i>
              </div>

              <p class="words bold likes-text"><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

              <p><%= link_to post.user.username, user_path(post.user), class: "username" %>
                <span class="normal"><%= post.caption %></span>
              </p>
              <div class=comments-container post-<%=post.id%>>
                <% post.komments.each do |f| %>
  	              <p class="quote bold"><%= link_to f.user.username, user_path(f.user), class: "username" %>&nbsp;<span class="normal"><%= f.komment %><span></p>
                <% end %>
              </div>
              <div class="timestamp">
                <p><%
                t=Time.now.utc
                timestamp = post.created_at
                diff=(t-timestamp)/3600
                if diff<1 %>
                  <p class="timestamp"><%= (diff*60).round %> MINUTES AGO
                  </p>
                <% elsif diff>=1 && diff<24 %>
                  <p class="timestamp"><%= diff.round %> HOURS AGO
                  </p>
                <% else
                    diff = diff/24 %>
                  <p class="timestamp"><%= diff.round %> DAYS AGO
                  </p>
                <% end %>
              </p>
              </div>

            </div>

            <%= form_with scope: :komment, class: "comments-input-container d-flex grey", url: komments_path do |f| %>
                <%= f.text_field :komment, placeholder: "Add a comment..." %>
                <%= f.text_field :user_id, value: current_user.id, class:'d-none', placeholder: current_user.username %>
                <%= f.text_field :post_id, value: post.id, class:'d-none'%>
                <input disabled="" type="submit" value="Post" class="submit-comment-button bold" >
            <% end %>

          </section>
        <% end %>
      </div>

      <% else %>
      <div class="row">
      	<div class="col-sm-6">
      		<%= image_tag 'phone.png', class: "phone" %>
      	</div>
      	<div class="col-sm-6">
      		<div class="right-column text-center">
      			<h1 class="instaclone-heading">Instaclone</h1>
      			<p class="info-index">Sign up to see photos and videos from your friends.</p>
      			<a class="btn-signup" href= <%= new_user_registration_path %>>
			      	<h3 class="signup-text">Sign up</h3>
			      </a>
      		</div>

      		<div class="right-column-login text-center">
      			<p class="login-text">Have an account?
      				<a class="btn-login" href= <%= new_user_session_path%>>Log in</a>
      			</p>
      		</div>

    			<div class="app-store">
	      		<%= image_tag 'badge-iphone.png', class: "ios" %>
	      		<%= image_tag 'badge-android.png', class: "android" %>
    			</div>
      	</div>
      </div>



<% end %>