<%= cloudinary_js_config %>

<h1> new post </h1>

<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>
    <%= form.label :ImagePath %><br>
    <%= form.text_field :ImagePath %>
  </p>



  <p>
    <%= form.label :type %><br>
    <%= form.text_area :type %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<!-- Cloudinary::Uploader.upload('my_image.jpg')

Cloudinary::Uploader.upload_large("dog.mp4", :resource_type => :video,
    :public_id => "my_folder/my_sub_folder/dog_closeup",
    :chunk_size => 6_000_000
    :eager => [
      {:width => 300, :height => 300, :crop => :pad, :audio_codec => :none},
      {:width => 160, :height => 100, :crop => :crop, :gravity => :south, :audio_codec => :none }],
    :eager_async => true,
    :eager_notification_url => "https://mysite.example.com/notify_endpoint")
)

 upload response
{
  "public_id" => "pjxlnrigoijmmeibdi0u",
  "version" => 1371750447,
  "signature" => "bfec72b23487654e964febf8b89fe5f4ce796c8c",
  "width" => 864,
  "height" => 576,
  "format" => "jpg",
  "resource_type" => "image",
  "created_at" => "2017-06-20T17:47:27Z",
  "bytes" => 120253,
  "type" => "upload",
  "url" => "https://res.cloudinary.com/demo/image/upload/v1371750447/pjxlnrigoijmmeibdi0u.jpg",
  "secure_url"=> "https://res.cloudinary.com/demo/image/upload/v1371750447/pjxlnrigoijmmeibdi0u.jpg"
} -->