<%= cloudinary_js_config %>

<h1 class="new-post-heading"> Create a new post </h1>

	<div class="image-wrapper">
			<div class="upload-options">
				<label>
				<%= form_for Post.new do |f| %>
				<%= cl_upload_tag(:media_id) %>
				</label>
			</div>
	</div>

	<br>

    <%= f.label :description %>
    <%= f.text_field :caption, class: 'form-control' %>

  <br>

  <div class="upload-progress">
    <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar">
      <span class="status"></span>
    </div>
  </div>

	<div class="holder cloudfilter d-none">
		<div class="carousel-inner w-100" role="listbox">
			<div class="carousel-item row no-gutters active">

				<div class="col-3-3 float-left">
					<div class="img-fluid" id= "filter1"></div>
				</div>

				<div class="col-3-3 float-left">
					<div class="img-fluid" id= "filter2"></div>
				</div>

				<div class="col-3-3 float-left">
					<div class="img-fluid" id= "filter3"></div>
				</div>

				<div class="col-3-3 float-left">
					<div class="img-fluid" id= "filter4"></div>
				</div>

				<div class="col-3-3 float-left">
					<div class="img-fluid" id= "filter5"></div>
				</div>

			</div>
		</div>
		<%= f.select :method, ['none', 'audrey', 'eucalyptus', 'fes', 'peacock']%>
	</div>

	<div class="form-group">
		<%= f.text_field :user_id, value: current_user.id, class:'d-none'%>
	</div>

		<%= link_to "Cancel", posts_path, class: "btn-cancel" %>

		<%= f.submit 'Create Post', class: 'btn-create-post d-none', id:'submitButton' %>
<% end %>