<!-- SINGLE POST -->
<div class="post-show row">
  <div class="col-md-8">
  	<% if @post.media_type == "image" %>
    	<img class="image" src= "https://res.cloudinary.com/dvaat1mxu/image/upload/v1557368429/<%= @post[:public_id] %>.jpg">
    <% end %>

    <% if @post.media_type == "video" %>
    	<video src= "https://res.cloudinary.com/dvaat1mxu/video/upload/v1557370688/<%= @post[:public_id] %>.mp4" type="video/mp4" controls>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="user">
      <%= link_to @post.user.username, user_path(@post.user), class: 'username' %>
    </div>
    <div class="description">

    	<%= @post.caption %>

    	<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
			<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>

			<% if pre_like %>
				<%= form_with url: post_like_path(@post, pre_like), method: :delete, local: true do |form| %>
					<button style="border: none; background: none" type="submit" value="submit">
						<%= image_tag("after-like.png", size: "25", alt:"unlike icon", class: "heart") %>
					</button>
				<% end %>
			<% else %>
				<%= form_with url: post_likes_path(@post), local: true do |form| %>
					<button style="border: none; background: none" type="submit" value="submit">
						<%= image_tag("before-like.png", size: "25", alt: "like icon", class: "heart") %>
					</button>
				<% end %>
			<% end %>

			<% @post.komments.each do |f| %>
        <p class="quote"><b><%= f.user.username %> </b><%= f.komment %></p>
      <% end %>
      <%= form_for Komment.new do |f| %>
        <p>
          <%= f.text_field :komment, placeholder: "Add a comment..." %>
          <%= f.text_field :user_id, value: current_user.id, class:'d-none'%>
          <%= f.text_field :@post_id, value: @post.id, class:'d-none'%>
          <%= f.submit 'Add' %>
        </p>
      <% end %>

    </div>
  </div>
</div>