<!DOCTYPE html>
<html>
  <head>
    <title>Instaclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand d-flex" href="/">
            <span class="fa-stack" style="vertical-align: top;">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-camera fa-stack-1x fa-inverse"></i>
            </span>
            <span class="insta-title">Instaclone</span>
          </a>
        </div>
        <div class="m-auto">
          <form class="form-inline search-form">
            <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
          </form>
        </div>
        <div class="user-section">
          <a><i class="fa fa-compass"></i></a>
          <a><i class="fa fa-heart"></i></a>

          <% if user_signed_in? %>
            <a href= <%= user_path(current_user)%>>
              <i class="fa fa-user"></i>
            </a>
					  <%= link_to destroy_user_session_path, method: :delete do %>
					    <span>
					      <i class="fa fa-sign-out"></i>
					    </span>
					  <% end %>
          <% else %>
            <a href= <%= new_user_session_path%>>
              <i class="fa fa-sign-in"></i>
            </a>
          <% end %>

        </div>
      </div>
    </nav>

    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>

    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <li>ABOUT US
          </li>
          <li>SUPPORT</li>
          <li>PRESS</li>
          <li>API</li>
          <li>JOBS</li>
          <li>PRIVACY</li>
          <li>TERMS</li>
          <li>DIRECTORY</li>
          <li>PROFILES</li>
          <li>HASHTAGS</li>
          <li>LANGUAGE</li>
        </ul>
        <p> © 2019 INSTACLONE </p>
      </nav>
    </footer>
  </body>