<!DOCTYPE html>
<html>
  <head>
    <title>Instaclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-light d-flex align-items-start">
        <div class="container">
					<a class="insta-logo" href="/"><ion-icon name="logo-instagram"></ion-icon></a>
	        <a class="insta-title" href="/">Instaclone</a>

        <div class="m-auto">
          <%= render "search" %>
        </div>

        <div class="user-section">
          <a class="add-new-post" href=<%= new_post_path %>>
						<ion-icon name="add-circle-outline"></ion-icon>
					</a>
          <a><ion-icon name="heart"></ion-icon></a>

          <% if user_signed_in? %>
            <a class="user-account" href= <%= user_path(current_user)%>>
              <ion-icon name="person"></ion-icon>
            </a>

            <%= link_to destroy_user_session_path, :class => "logout-link", method: :delete do %>
					  <ion-icon name="log-out"></ion-icon>
					  <% end %>

          <% else %>
            <a class="login-link" href= <%= new_user_session_path%>>
              <ion-icon name="log-in"></ion-icon>
            </a>
          <% end %>
    	</div>
    </nav>

    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>

    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <li>ABOUT US</li>
          <li>SUPPORT</li>
          <li>PRESS</li>
          <li>API</li>
          <li>JOBS</li>
          <li>PRIVACY</li>
          <li>TERMS</li>
          <li>DIRECTORY</li>
          <li>PROFILES</li>
          <li>HASHTAGS</li>
          <li>LANGUAGE</li>
        </ul>
        <p> © 2019 INSTACLONE </p>
      </nav>
    </footer>
    <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
  </body>
</html>